#cell-ctn {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;

    &:hover {
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.336);
        transform: translateY(-2%)
    }

    #cell-title {
        color: white;
        padding: 0;
        margin: 0;
        text-align: left;
        min-height: 60%;
    }

    #author {
        color: rgb(158, 158, 158);
        font-size: small;
    }

    #details {
        display: flex;
        width: 100%;
        justify-content: space-between;
        height: fit-content;


        #source {
            color: rgb(139, 139, 139);
            font-size: .8em;
        }

        #date {
            color: white;
            font-size: .8em;
        }
    }

}