.tagline-ctn {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    width: 90vw;

    .tag {
        width: 30%;
        padding: 1.5em;
        text-align: left;
    }

    .tagline {
        margin: 0;
    }

    .subtitle {
        margin: 0;
        width: 100%;
        text-align: left;
        font-size: .7em;
        font-weight: 200;
    }
}

.logo-ctn {


    .eye {
        position: relative;
        height: 12em;
        width: 12em;
        border: 10px solid black;
        border-radius: 100%;
        z-index: 10;
        clip-path: circle(50%);
        animation: bob 1000ms ease-in-out infinite alternate-reverse
    }

    .shadow {
        position: absolute;
        background-color: black;
        width: 14em;
        height: 1em;
        border-radius: 100%;
        z-index: 9;
        transform: translate(-35%, 3em);
        animation: grow 1000ms ease-in-out infinite alternate-reverse
    }

    .iris {
        position: absolute;
        height: 6em;
        width: 6em;
        border: 5px solid black;
        border-radius: 100%;
        z-index: -1;
        transition: 250ms ease-out all;
        top: 0;
        left: 0;
    }

    .pupil {
        position: absolute;
        height: 2.5em;
        width: 2.5em;
        background-color: black;
        border-radius: 100%;
        z-index: -1;
        transition: 100ms cubic-bezier(0, .79, 1, -0.46) all;

        &::after {
            content: '';
            z-index: -1;
            background-color: white;
            height: 1.2em;
            width: 1.2em;
            position: absolute;
            border-radius: 100%;
            transform: translate(10%, 25%);
            transition: 100ms cubic-bezier(0, .79, 1, -0.46) all
        }
    }
}


@keyframes bob {
    from {
        transform: translateY(0px)
    }

    to {
        transform: translateY(50px)
    }
}

@keyframes grow {
    from {
        width: 13em;
    }

    to {
        width: 14em;
    }

}