.ticker_item-ctn {
    padding: .5em;
    width: fit-content;
    min-width: 10em;
    background-color: hsl(0, 0%, 29%);
    margin: .5em;
    border: none;
    border-radius: 10px;
    transition: 100ms ease-in all;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    line-break: strict;


    &:hover {
        background-color: transparent;
        outline: 1px solid hsl(0, 0%, 39%);
        min-width: 15em;
        transition: 250ms ease-in all;
    }


    &:focus {
        background-color: transparent;
    }

    &:active {
        background-color: transparent;
    }
}